{% block content %}
    <div class="card mb-4 shadow">
        <div class="card-body">
            
            <div>
                <small>From: <u>{{quote.book}}</u></small>
            </div>
            <div>
                {% if quote.page != null %}
                    <small>Page: {{quote.page}}</small>
                {% endif %}    
            </div>
            <p>"{{ quote.quote }}"</p>
            <div class="d-flex justify-content-between">
                {% if quote.contributor != null%}
                    <small>Contributor: {{ quote.contributor.username }}</small>
                {% endif %}
                {% if quote.contributor == userId %}
                    <form action="/quotes/delete/{{character.id}}/{{quote.id}}?_method=DELETE" method="POST">
                        <input class="btn btn-danger" type="submit" value="X">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}